<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @family.last_name %>
</p>

<p>
  <b>Photo:</b>
  <%= @family.photo %>
</p>


<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
