<h1>Listing cabins</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Family</th>
    <th>Address</th>
    <th>Emergency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cabins.each do |cabin| %>
  <tr>
    <td><%= cabin.name %></td>
    <td><%= cabin.family_id %></td>
    <td><%= cabin.address %></td>
    <td><%= cabin.emergency %></td>
    <td><%= link_to 'Show', cabin %></td>
    <td><%= link_to 'Edit', edit_cabin_path(cabin) %></td>
    <td><%= link_to 'Destroy', cabin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cabin', new_cabin_path %>
