<!-- <h1>Current Inventory</h1> -->
 	<div class="container">
	 	<aside class="boxshadowaside">
		  	<div class="cabin">
					<img src="assets/cabin.jpg" alt="cabinicon">

						<h2>Details</h2>
						<h3>Location</h3>
							<ul>
								<li>1829 Mountainview Road</li>
								<li>Tahoe, California 839290</li>
							</ul>
						<h3>Emergency Contact</h3>
							<ul>
								<li>Bob McCaffery, Handyman</li>
								<li>(876)637-9273</li>
							</ul>
					</div>

						<h2>Families</h2>
							<div class="family">
								<img src="assets/huxtables.jpg" alt="TheHuxtables">
									<ul>
										<li><span>The Huxtables</span></li>
										<li>Cliff</li>
										<li>Claire</li>
										<li>Theo</li>
										<li>Vanessa</li>
										<li>Denise</li>
										<li>Rudy</li>
									</ul>
								<div class="clear"></div>
							</div>

							<div class="family">
								<img src="assets/seavers.jpg" alt="TheSeavers">
									<ul>
										<li><span>The Seavers</span></li>
										<li>Jason</li>
										<li>Maggie</li>
										<li>Mike</li>
										<li>Carol</li>
										<li>Ben</li>
									</ul>
								<div class="clear"></div>
							</div>
		</aside>

		<div class="primary">
			<h2>Inventory</h2>
			<table class="inventory">
    				  <tr>
    					<th>Item Name</th>
    				    <th>Quantity</th>
    				  </tr>
					<% @items.each do |item| %>
                      <tr>
                        <td><%= item.name %></td>
                        <td><%= item.quantity %></td>
                        <td><%= link_to 'Edit', edit_item_path(item) %></td>
                        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
		</div>
	</div>




</table>

<br />

<%= link_to 'New Item', new_item_path %>
