<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>

<p>
  <b>Date:</b>
  <%= @item.date %>
</p>

<p>
  <b>Family:</b>
  <%= @item.family.last_name %>
</p>

<p>
  <b>Inventory:</b>
  <%= @item.inventory.name %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
