<!DOCTYPE html>
<html>
<head>
  <title>Toiletpaper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to 'Cabin', cabins_url %>
  <%= link_to 'Family', families_url %>
  <%= link_to 'Person', people_url %>
  <%= link_to 'Item', items_url %>
  <%= link_to 'Inventory', inventories_url %>
</nav>
<%= yield %>

</body>
</html>
